<h1><%= @stock_snapshot.ticker %></h1>
<%= button_to 'Go to Existing Stock Snapshots', '/', method: :get %>
<h2>Evaluation</h2>
<p>There are several fundamental rules for stock selection for the defensive investor, outlined in the book, "The Intelligent Investor," by Benjamin Graham. The gist of the defensive investing policy is to safeguard the investor from significant losses by purchasing stocks in companies that are not likely to fall and that are likely to produce adequate returns.</p>

<h3>Recommendations</h3>
<% if @stock_snapshot.buy? %>
    <p>BUY</p>
<% else %>
    <p>DO NOT BUY</p>
<% end %>
<% if @stock_snapshot.sell? %>
    <p>SELL</p>
<% else %>
    <p>DO NOT SELL</p>
<% end %>

<h3>Fundamental Rules</h3>
<ol style="line-width: 0.5rem">
    <li>You should own 10-30 stocks.</li>
    <li>Each company is large, prominent, and conservatively financed.</li>
    <li>Each company has at least a 10-year record of continuous dividend payments.</li>
    <li>The price you pay for a stock should not exceed 25 times average earnings per share over the last seven years, and not more than 20 times those of the last twelve month period.</li>
</ol>

<% if @stock_snapshot.satisfies_fundamental_rules %>
    <% if @stock_snapshot.buy? %>
        <p>Because <%= @stock_snapshot.ticker %> satisfies all fundamental rules and is reasonably priced, the policy recommends you can buy the stock.</p>
    <% else %>
        <p>Because <%= @stock_snapshot.ticker %> satisfies all of these fundamental rules, the policy recommends you not to sell your current holdings. However, since the market price exceeds the policy-recommended maximum price, you should not buy more.</p>
    <% end %>

    <p>The smaller of the following dollar amounts is the maximum recommended price to pay for <%= @stock_snapshot.ticker %> (current market price is $<%= @stock_snapshot.market_price %>):</p>
    <ul>
        <li>$<%= 25 * @stock_snapshot.calculate_eps_average_past_seven_years %> = 25 * average earnings per share over the last seven years (<%= @stock_snapshot.calculate_eps_average_past_seven_years %>)</li>
        <li>$<%= 20 * @stock_snapshot.eps_ttm %> = 20 * earnings per share over the last twelve month period (<%= @stock_snapshot.eps_ttm %>)</li>
    </ul>
<% else %>
    <p>The policy recommends against owning <%= @stock_snapshot.ticker %> because these rules are broken:</p>
    <ul>
        <% if !@stock_snapshot.is_large %>
            <li><%= @stock_snapshot.ticker %> is not large.</li>
        <% end %>
        <% if !@stock_snapshot.is_prominent %>
            <li><%= @stock_snapshot.ticker %> is not prominent.</li>
        <% end %>
        <% if !@stock_snapshot.is_conservatively_financed %>
            <li><%= @stock_snapshot.ticker %> is not conservatively financed because the Debt-to-Equity ratio (<%= @stock_snapshot.calculate_debt_to_equity_ratio %>) is greater than 1.</li>
        <% end %>
        <% if !@stock_snapshot.has_reliable_dividend %>
            <li><%= @stock_snapshot.ticker %> does not have a reliable dividend.</li>
        <% end %>
    </ul>
<% end %>
<%# Suggested Selection Criteria %>
    <%# 1. The company is large, not having less than $100 million of annual sales for an industrial
            company, and not less than $50 million in assets for a public utility.
     %>
    <%# 2. A current ratio ≥ 2 for industrial companies. Also, long-term debt should not exceed the
            net current assets (or “working capital”). For public utilities the debt should not exceed
            twice the stock equity (at book value).
    %>
    <%# 3. The stock has had some positive earnings each of the last 10 years. %>
    <%# 4. Uninterrupted dividend payments for the last 20 years. %>
    <%# 5. A minimum increase of at least one-third in per-share earnings in the past ten years using
            three-year averages at the beginning and end.
     %>
    <%# 6. Current price should not be more than 15 times average earnings of the past three years. %>

<h2>Snapshot Data</h2>
<div style="line-height: 0.5rem">
    <p>Large? <%= @stock_snapshot.is_large %></p>
    <p>Prominent? <%= @stock_snapshot.is_prominent %></p>
    <p>Dividend? <%= @stock_snapshot.has_reliable_dividend %></p>
    <p>Total Assets: <%= @stock_snapshot.total_assets %></p>
    <p>Total Intangibles: <%= @stock_snapshot.total_intangibles %></p>
    <p>Total Goodwill: <%= @stock_snapshot.total_goodwill %></p>
    <p>Total Current Assets: <%= @stock_snapshot.total_current_assets %></p>
    <p>Total Liabilities: <%= @stock_snapshot.total_liabilities %></p>
    <p>Total Debt: <%= @stock_snapshot.total_debt %></p>
    <p>Total Longterm Debt: <%= @stock_snapshot.total_longterm_debt %></p>
    <p>Total Current Liabilities: <%= @stock_snapshot.total_current_liabilities %></p>
    <p>Total Equity: <%= @stock_snapshot.total_equity %></p>
    <p>Shareholders' Equity in Common Stock: <%= @stock_snapshot.common_stock %></p>
    <p>Total Common Shares Outstanding: <%= @stock_snapshot.total_common_shares_outstanding %></p>
    <p>Market Price: <%= @stock_snapshot.market_price %></p>
</div>
<table>
    <tr>
        <th>Year</th>
        <th>Earnings Per Share, diluted GAAP</th>
    </tr>
    <tr>
        <td>Trailing Twelve Months</td>
        <td><%= @stock_snapshot.eps_ttm %></td>
    </tr>
    <tr>
        <td>Last year</td>
        <td><%= @stock_snapshot.eps_last_year %></td>
    </tr>
    <tr>
        <td>2 years ago</td>
        <td><%= @stock_snapshot.eps_2y_ago %></td>
    </tr>
    <tr>
        <td>3 years ago</td>
        <td><%= @stock_snapshot.eps_3y_ago %></td>
    </tr>
    <tr>
        <td>4 years ago</td>
        <td><%= @stock_snapshot.eps_4y_ago %></td>
    </tr>
    <tr>
        <td>5 years ago</td>
        <td><%= @stock_snapshot.eps_5y_ago %></td>
    </tr>
    <tr>
        <td>6 years ago</td>
        <td><%= @stock_snapshot.eps_6y_ago %></td>
    </tr>
    <tr>
        <td>7 years ago</td>
        <td><%= @stock_snapshot.eps_7y_ago %></td>
    </tr>
    <tr>
        <td>8 years ago</td>
        <td><%= @stock_snapshot.eps_8y_ago %></td>
    </tr>
    <tr>
        <td>9 years ago</td>
        <td><%= @stock_snapshot.eps_9y_ago %></td>
    </tr>
    <tr>
        <td>10 years ago</td>
        <td><%= @stock_snapshot.eps_10y_ago %></td>
    </tr>
</table>