<h1><%= @stock_snapshot.ticker %></h1>
<%= button_to 'Go to Existing Stock Snapshots', '/', method: :get %>
<h2>Recommendations</h2>
<% if @stock_snapshot.buy? %>
    <p>BUY</p>
<% else %>
    <p>DO NOT BUY</p>
<% end %>
<% if @stock_snapshot.sell? %>
    <p>SELL</p>
<% else %>
    <p>DO NOT SELL</p>
<% end %>

<h2>Fundamental Rules</h2>
<ol style="line-width: 0.5rem">
    <li>You should own 10-30 stocks.</li>
    <li>Each company is large, prominent, and conservatively financed.</li>
    <li>Each company has at least a 10-year record of continuous dividend payments.</li>
    <li>The price you pay for a stock should not exceed 25 times average earnings per share over the last seven years, and not more than 20 times those of the last twelve month period.</li>
</ol>

<% if @stock_snapshot.satisfies_fundamental_rules %>
    <% if @stock_snapshot.buy? %>
        <p>The policy recommends buying <%= @stock_snapshot.ticker %> because it satisfies all fundamental rules, and its market price ($<%= @stock_snapshot.market_price %>) is less than the policy-recommended maximum price ($<%= @stock_snapshot.recommended_max_purchase_price %>).</p>
    <% else %>
        <p>The policy recommends against buying <%= @stock_snapshot.ticker %> because the market price ($<%= @stock_snapshot.market_price %>) exceeds the policy-recommended maximum price ($<%= @stock_snapshot.recommended_max_purchase_price %>).</p>
        <p>The policy recommends to keep your current holdings because <%= @stock_snapshot.ticker %> satisfies the fundamental rules.</p>
    <% end %>
<% else %>
    <p>The policy recommends against owning <%= @stock_snapshot.ticker %> because these rules are broken:</p>
    <ul>
        <% if !@stock_snapshot.is_large %>
            <li><%= @stock_snapshot.ticker %> is not large.</li>
        <% end %>
        <% if !@stock_snapshot.is_prominent %>
            <li><%= @stock_snapshot.ticker %> is not prominent.</li>
        <% end %>
        <% if !@stock_snapshot.is_conservatively_financed %>
            <li><%= @stock_snapshot.ticker %> is not conservatively financed because the Debt-to-Equity ratio (<%= @stock_snapshot.calculate_debt_to_equity_ratio %>) is greater than 1.</li>
        <% end %>
        <% if !@stock_snapshot.has_reliable_dividend_over_the_past_10_years %>
            <li><%= @stock_snapshot.ticker %> does not have a reliable dividend over the past ten years.</li>
        <% end %>
    </ul>
<% end %>

<% if @stock_snapshot.satisfies_fundamental_rules %>
    <h2>Suggested Criteria</h2>
    <ol style="line-width: 0.5rem">
        <li>The company is large, not having less than $100 million of annual sales for an industrial company, and not less than $50 million in assets for a public utility.</li>
        <li>A current ratio (<%= @stock_snapshot.current_ratio %>) ≥ 2 for industrial companies. Also, long-term debt ($<%= @stock_snapshot.total_longterm_debt %> million) should not exceed the working capital ($<%= @stock_snapshot.working_capital %> million). For public utilities the debt should not exceed twice the stock equity (at book value).</li>
        <li><% if @stock_snapshot.has_positive_earnings_for_past_ten_years %>✓<% else %>❌<% end %> The stock has had some positive earnings each of the last 10 years.</li>
        <li><% if @stock_snapshot.has_reliable_dividend_over_the_past_20_years %>✓<% else %>❌<% end %> Uninterrupted dividend payments for the last 20 years.</li>
        <li><% if @stock_snapshot.earnings_percentage_increase_over_decade >= 33 %>✓<% else %>❌<% end %> A minimum increase of at least one-third in per-share earnings in the past ten years (<%= @stock_snapshot.earnings_percentage_increase_over_decade %>%) using three-year averages at the beginning (<%= @stock_snapshot.calculate_eps_average_three_years_at_beginning_of_decade %>) and end (<%= @stock_snapshot.calculate_eps_average_past_three_years %>).</li>
        <li><% if @stock_snapshot.has_excellent_price_based_on_3yr_earnings %>✓<% else %>❌<% end %> Current market price ($<%= @stock_snapshot.market_price %>) should not be more than average earnings of the past three years (<%= @stock_snapshot.calculate_eps_average_past_three_years %>) times 15 ($<%= 15 * @stock_snapshot.calculate_eps_average_past_three_years %>).</li>
    </ol>
<% end %>

<h2>Snapshot Data</h2>
<div style="line-height: 0.5rem">
    <p>Large? <%= @stock_snapshot.is_large %></p>
    <p>Prominent? <%= @stock_snapshot.is_prominent %></p>
    <p>Reliable dividend for 10+ years? <%= @stock_snapshot.has_reliable_dividend_over_the_past_10_years %></p>
    <p>Continuous dividend for 20+ years? <%= @stock_snapshot.has_reliable_dividend_over_the_past_20_years %></p>
    <p>Total Assets: <%= @stock_snapshot.total_assets %></p>
    <p>Total Intangibles: <%= @stock_snapshot.total_intangibles %></p>
    <p>Total Goodwill: <%= @stock_snapshot.total_goodwill %></p>
    <p>Total Current Assets: <%= @stock_snapshot.total_current_assets %></p>
    <p>Total Liabilities: <%= @stock_snapshot.total_liabilities %></p>
    <p>Total Longterm Debt: <%= @stock_snapshot.total_longterm_debt %></p>
    <p>Total Debt: <%= @stock_snapshot.total_debt %></p>
    <p>Total Current Liabilities: <%= @stock_snapshot.total_current_liabilities %></p>
    <p>Total Equity: <%= @stock_snapshot.total_equity %></p>
    <p>Shareholders' Equity in Common Stock: <%= @stock_snapshot.common_stock %></p>
    <p>Total Common Shares Outstanding: <%= @stock_snapshot.total_common_shares_outstanding %></p>
    <p>Market Price: <%= @stock_snapshot.market_price %></p>
</div>
<table>
    <tr>
        <th>Year</th>
        <th>Earnings Per Share, diluted GAAP</th>
    </tr>
    <tr>
        <td>Trailing Twelve Months</td>
        <td><%= @stock_snapshot.eps_ttm %></td>
    </tr>
    <tr>
        <td>Last year</td>
        <td><%= @stock_snapshot.eps_last_year %></td>
    </tr>
    <tr>
        <td>2 years ago</td>
        <td><%= @stock_snapshot.eps_2y_ago %></td>
    </tr>
    <tr>
        <td>3 years ago</td>
        <td><%= @stock_snapshot.eps_3y_ago %></td>
    </tr>
    <tr>
        <td>4 years ago</td>
        <td><%= @stock_snapshot.eps_4y_ago %></td>
    </tr>
    <tr>
        <td>5 years ago</td>
        <td><%= @stock_snapshot.eps_5y_ago %></td>
    </tr>
    <tr>
        <td>6 years ago</td>
        <td><%= @stock_snapshot.eps_6y_ago %></td>
    </tr>
    <tr>
        <td>7 years ago</td>
        <td><%= @stock_snapshot.eps_7y_ago %></td>
    </tr>
    <tr>
        <td>8 years ago</td>
        <td><%= @stock_snapshot.eps_8y_ago %></td>
    </tr>
    <tr>
        <td>9 years ago</td>
        <td><%= @stock_snapshot.eps_9y_ago %></td>
    </tr>
    <tr>
        <td>10 years ago</td>
        <td><%= @stock_snapshot.eps_10y_ago %></td>
    </tr>
</table>

<h2>Explanation</h2>
<p>There are several fundamental rules for stock selection for the defensive investor, outlined in the book, "The Intelligent Investor," by Benjamin Graham. The gist of the defensive investing policy is to safeguard the investor from significant losses by purchasing stocks in companies that are not likely to fall and that are likely to produce adequate returns.</p>